@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Open+Sans&display=swap");
:root {
  --yellow:#FBD44A;
  --blue:#2269B9;
  --red:#D2381F;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.page {
  position: relative;
  height: 100vh;
  width: 100%;
}

.container {
  position: absolute;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -ms-grid-rows: 20% 50% 30%;
      grid-template-rows: 20% 50% 30%;
      grid-template-areas: "nav     aside" "section aside" "footer  aside";
  height: 100%;
  width: 100%;
}

.navbar {
  background: white;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
}

.navbar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 0 0 80px;
  -webkit-animation: 2s navbar 0.5s ease-in-out;
          animation: 2s navbar 0.5s ease-in-out;
}

.navbar__img {
  width: 50px;
}

.navbar__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  padding: 0;
  width: 450px;
}

.navbar__li, .navbar a {
  text-decoration: none;
  color: var(--red);
  font-weight: 100px;
}

@-webkit-keyframes navbar {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes navbar {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: section;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 80px;
  -webkit-animation: 2s main-content 0.5s ease-in-out;
          animation: 2s main-content 0.5s ease-in-out;
}

.main-content p:first-child {
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 -14px 44px;
}

.main-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 28px 0;
}

.main-content p:last-child {
  font-weight: 100;
  margin: 0;
}

@-webkit-keyframes main-content {
  0% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes main-content {
  0% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/*------- Animation Preloader----------- */
.loader {
  background: var(--yellow);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 3;
  position: absolute;
  z-index: 3;
  -webkit-animation: loader 0.1s linear forwards;
          animation: loader 0.1s linear forwards;
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: hidden;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: hidden;
  }
}

.loader div {
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: scaling 2s ease-in-out infinite;
          animation: scaling 2s ease-in-out infinite;
}

.loader div:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader div:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader div:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes scaling {
  0%, 100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaling {
  0%, 100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*---------------------------------------- */
/*# sourceMappingURL=style.css.map */